[2017-11-19 11:15] lucabriguglia opened #1 "Xml Event Store"

[2017-11-19 11:16] lucabriguglia opened #2 "Add Blob Storage Provider"

[2017-11-19 11:16] lucabriguglia opened #3 "Cosmos DB Event Store"

[2018-01-11 09:02] lucabriguglia opened #4 "Splitting Weapsy.EventStore.EF"
Splitting Weapsy.EventStore.EF into multiple packages to avoid dependencies on other data providers.

New packages will be:

- Weapsy.EventStore.SqlServer
- Weapsy.EventStore.MySql
- Weapsy.EventStore.PostgreSql
- Weapsy.EventStore.Sqlite

[2018-01-12 22:15] lucabriguglia commented on #4
Done

[2018-01-12 22:15] #4 closed

[2018-01-14 09:34] #3 closed

[2018-01-14 10:07] #1 closed

[2018-01-14 11:07] lucabriguglia opened #5 "Add CosmosDB MongoDB Event Store"

[2018-01-15 08:10] lucabriguglia opened #6 "Renaming to Weapsy.CQRS"
The project will be renamed to Weapsy.CQRS and the single interface to use will be IDispatcher.

[2018-01-18 20:08] #6 closed

[2018-01-18 20:08] #5 closed

[2018-01-18 20:08] lucabriguglia opened #7 "Add custom table names settings for EF database provider"

[2018-01-19 09:04] lucabriguglia opened #8 "Command handlers refactoring"

[2018-02-10 22:07] chinookproject opened #9 "Issue in Extension method and about rebuilding state"
I'm playing around with this project in a console app. I found out that there is a small issue in `Weapsy.Cqrs.Extensions.ServiceCollectionExtensions`. You are not returning the instance of `IServiceCollection`.

So that should become:

[code]

So far everything looks good. Only problem I have is a way to replay all the events from the EventStore, so I can rebuild the state of my read database. Be

[2018-02-11 13:37] lucabriguglia commented on #9
Thank you so much for highlighting those issues!
I really don't know how I missed to return the service collection :-).
I'm going to fix it today.

Regarding the issue with the wrong saved type, I fixed it in the source code but I need to published a new NuGet package version.
I'll do it today as well.

[2018-02-11 13:53] lucabriguglia commented on #9
Issues fixed and new packages published.
Please use version 2.1.2 for all packages.

[2018-02-11 15:33] #8 closed

[2018-02-11 15:33] lucabriguglia commented on #8
Done

[2018-02-11 17:06] chinookproject commented on #9
Great, thanks for the fast update! All seems to be working in the new version.

[2018-02-11 17:06] #9 closed

[2018-04-01 21:59] vany0114 opened #10 "Support for local mongodb"
Hi,

does it work for local mongodb, for example, to work in a development/local environment, or I must have a mongodb on azure with cosmosdb? I mean, for production I will use for sure cosmosdb, but I need a local mongodb for development.

Thanks!

[2018-04-01 22:48] vany0114 commented on #10
Nevermind bro! I already test it and works ok, BTW your Weapsy.CQRS is very cool!

[2018-04-02 14:15] lucabriguglia commented on #10
Thanks @vany0114, glad you find it useful :-)

[2018-04-02 15:29] #10 closed

[2018-04-04 02:50] vany0114 opened #11 "GetByIdAsync error"
Hey bro,

Is this error familiar to you? I'm getting this error when I try to get an aggregate from event store (in my case, mongo) but isn't always happen, in my case is happening with 2 aggregates "records" the third one, works fine.

[code]

[2018-04-04 07:15] lucabriguglia commented on #11
Hey, it never happened to me.
It looks like a desirialization problem.
Can you share the JSON saved in the db?

[2018-04-04 07:16] lucabriguglia commented on #11
And the class you are trying to desirialise to?

[2018-04-04 15:27] vany0114 commented on #11
Sorry I don't have that data anymore, I'm working on a Docker container where I have the database and yesterday I restarted the containers, but I can share you the classes.

Here are the events:
https://github.com/vany0114/microservices-dotnetcore-docker-servicefabric/tree/master/src/Domain/Trip/Duber.Domain.Trip/Events

Here is the aggregate:
https://github.com/vany0114/microservices-dotnetcore-d

[2018-04-09 07:55] lucabriguglia commented on #11
Sorry for the delay, I was off for a week.
I'll have a look asap.

[2018-05-08 15:28] vany0114 opened #12 "Weapsy.CQRS Example"
HI bro,
I've been writing a series of posts about microservices and in the last one, I used your Weapsy.CQRS project, that btw is very nice, so, this is the link if you wanted to share it.

http://elvanydev.com/Microservices-part3/

[2018-05-08 16:18] lucabriguglia commented on #12
Hey there!
I already shred it on LinkedIn, nice one!
Thanks :-)

[2018-05-18 10:10] lucabriguglia opened #13 "Command Store"
Store the commands the same way the library currently does for the events, using any of the available data providers.

[2018-06-09 11:19] lucabriguglia opened #14 "Enhanced Event Store"
- Get event(s) by command
- Get event(s) by event type(s)

[2018-06-09 11:59] lucabriguglia opened #15 "Upgrade to .NET Core 2.1"

[2018-06-14 18:52] lucabriguglia commented on #15
Completed.

[2018-06-14 18:52] #15 closed

[2018-06-14 18:53] lucabriguglia commented on #14
Removed.

[2018-06-14 18:53] #14 closed

[2018-06-14 18:53] lucabriguglia commented on #13
Completed.

[2018-06-14 18:53] #13 closed

[2018-06-14 18:58] lucabriguglia opened #16 "Message Bus Integration"

[2018-06-27 20:50] Im5tu commented on #16
Happy to help, or if you wanna talk through designs etc - just come grab me :)

[2018-06-27 21:05] lucabriguglia commented on #16
Great, I've got a few ideas and it would be great to have some feedback :-)

[2018-07-01 16:19] lucabriguglia opened #17 "Refactor Dispatcher and Command Sender"
Reduce the number of methods by adding only one method with an optional "options" parameter that will determine the behaviour in terms of saving commands and events in the domain stores, publish the events and eventually send the events to the message bus.

[2018-07-04 19:40] lucabriguglia commented on #17
Closing as it will be implemented in a different way in the message bus integration.

[2018-07-04 19:40] #17 closed

[2018-07-08 09:50] lucabriguglia opened #18 "Should synchronous methods be removed?"
Maintenance is hard, should I completely remove them?

[2018-07-10 15:39] #18 closed

[2018-07-11 12:51] lucabriguglia opened #19 "Add logger"

[2018-07-14 08:33] lucabriguglia opened #20 "Add snapshots to event sourcing"

[2018-07-14 08:40] lucabriguglia opened #21 "Add Topics to Azure Service Bus integration"

[2018-07-21 06:59] ElderJames opened #22 "Integrate the Actor like Orleans and Akka."
Hello, I'd like to ask if this project has any plans to support actor frameworks like Orleans or Akka?

[2018-07-21 10:39] lucabriguglia commented on #22
Hi, not yet but it sounds like a good idea.
Do you have any thoughts on what way they might be integrated?

[2018-07-21 11:35] lucabriguglia commented on #16
Azure Service Bus integration released with version 5.0.0.

[2018-07-21 11:35] #16 closed

[2018-07-22 12:16] lucabriguglia opened #23 "UserId in domain events as string"
Change domain event UserId type from Guid to string to be more flexible.

[2018-07-25 18:24] #23 closed

[2018-07-26 05:34] ElderJames commented on #22
Not really~

[2018-07-26 06:16] lucabriguglia commented on #22
I need to learn more about them, and then I'll see if an integration is possible.
Thanks for the idea tough.

[2018-07-26 19:33] siematypie opened #24 "Exception is thrown while registering assembly classes on AddWeapsyCqrs method in startup"
Hi,
I'm having problem with following class from my domain project

[code]
and the baseValueCommand class:

`    public class BaseVenueCommand: DomainCommand
    {
        public Guid VenueId { get; set; }
    }
`
I'm using AbstractValidator from FluentValidation. I'm getting following exception on application startup: `'Gastro.Domain.BaseVenueValidator`1[T]' violates the constraint of type parame

[2018-07-26 19:38] lucabriguglia commented on #24
Hi, if you are using a package called Weapsy.Cqrs you should uninstall it and install the OpenCQRS.

[2018-07-26 21:17] siematypie commented on #24
Just finished doing it, error is still there :(

[2018-07-26 22:41] lucabriguglia commented on #24
It should be BaseVenueValidator : AbstractValidator<BaseVenueCommand> if it's not an abstract class.
I haven't tested it because I'm writing from my mobile, but it should fix it.

[2018-07-27 13:48] lucabriguglia commented on #24
Hi, I'm glad that you like the project and that's useful for you :-) and good luck for your thesis!

[2018-07-27 13:48] #24 closed

[2018-07-28 13:27] lucabriguglia opened #25 "Merge interfaces"
Merge the following interfaces:
- ICommandSender/ICommandSenderAsync
- IEventPublisher/IEventPublisherAsync
- IQueryProcessor/IQueryProcessorAsync

[2018-07-28 13:29] lucabriguglia opened #26 "Add bus dispatcher to main dispatcher"
Add DispatchAsync (IBusMessage) method to IDispatcher

[2018-07-29 15:56] #26 closed

[2018-07-29 15:57] #25 closed

[2018-07-30 16:19] kbarkhausen opened #27 "Example of using OpenCQRS using a NetCore 2 command line console app?"
Do you have an example of using OpenCQRS using console app? I have been trying to put on example together but I notice that I get an error since OpenCQRS wants to access an instance of the IHttpContextAccessor to access the publisher. Any idea how I can set up OpenCQRS in a console app to execute commands and publish any events?

[2018-07-30 17:31] lucabriguglia commented on #27
I'm treating this as a bug as it was a mistake the use of IHttpContextAccessor instead of IServiceProvider to resolve the handlers.
Once fixed, I'll published an example of a console app.
Thanks.

[2018-07-31 18:24] corfor opened #28 "IDomainCommand.ExpectedVersion"
This would be helpful in addressing situations that could have race conditions. This way the command handler can check if the aggregate has changed since the time the command was issued by the client.

`int ExpectedVersion { get; }`

[2018-07-31 18:52] lucabriguglia commented on #28
I was thinking about this feature for a long time.
I'll add it in one of the next versions, probably 5.2.

[2018-07-31 19:14] lucabriguglia commented on #28
It will be nullable

[2018-08-01 02:26] kbarkhausen commented on #27
I am trying to learn how to properly use the OpenCQRS framework. I am creating a Console App that uses commands and events. I was able to override the Resolver using my own that uses the Net Core ServiceProvider. I did use AutoFac to improve the DI implementation. I can add this into your examples once I get it fully working (if this ineterests you). My console app does not use AggregateRoot or Ev

[2018-08-01 05:56] lucabriguglia commented on #27
Yes that would be really interesting, thanks! Bear in mind that I'm removing the examples from the main repository as I'm going to create a separate one for each of them.
You could create a separate repository with your fully working version and post the link here.

[2018-08-03 21:38] kbarkhausen commented on #27
Hey, Luca. I created an example console app that uses OpenCQRS. I am not sure if I am using the framework correctly so I would be interested in your suggestions. It may be a good example to help others learn how to use it. Source: [OpenCqrs Command Line Interface](https://github.com/kbarkhausen/OpenCqrsCli)

[2018-08-04 06:08] lucabriguglia commented on #27
Hi Klaus, I'll have a look as soon as I can.
I'll also create a new section in the wiki with examples from other developers.

[2018-08-05 23:09] kbarkhausen commented on #27
Luca thanks for the comments. I do have a major problem that maybe you can clarify in your framework. How would I unit test the command handlers? The command that implements ICommandHandlerWithEventsAsync<CreateCommand> does not provide access to the method that implements the logic in the command which is: async Task<IEnumerable<IEvent>> ICommandHandlerWithEventsAsync<CreateCommand>.HandleAsync(C

[2018-08-06 15:51] kbarkhausen commented on #27
Disregard my previous message. I am able to fully test command and event handlers. I will update my project with unit tests shortly. It should provide a good base for starting to learn to use the framework for creating commands and/or CLI apps.

[2018-08-06 17:09] lucabriguglia commented on #27
Great news! Any queries/comments are more than welcome :-)
And please let me know if you have any suggestions on how I can improve the documentation for the framework.

[2018-08-09 10:50] #21 closed

[2018-08-09 10:51] #2 closed

[2018-08-09 10:54] lucabriguglia commented on #28
I think it makes more sense to add an "OriginalVersion" instead of "ExpectedVersion" because an expected version implies a calculation that should be done in the event store not at the command level.

[2018-08-09 12:45] corfor commented on #28
I'd suggest that ExpectedVersion matches the usual semantics I've seen in various CQRS projects I've done or have seen in the wild. For me, calling it OriginalVersion would be increased friction.

The intended use case, as I've thought of it anyway, is for a CommandHandler to compare the 'command.ExpectedVersion' with the 'aggregate.Version'. If they don't line up, it means the aggregate has chang

[2018-08-09 14:33] lucabriguglia commented on #28
Okay, I got your point and I can see 2 possible scenarios.
1) You need to take an appropriate action based on your business rules. In this case you might need the "ExpectedVersion" and the command handler should manage the exception.
2) You NOT need to take any actions, just throw a concurrency exception if needed. In this case you might just need an "OriginalVersion" and let the framework handle

[2018-08-15 12:21] pblachut opened #29 "Question: How event faults are processed"
This is a question rather than issue.

As far as I was able to read from the source code, when the events are produced by the aggregate then they are saved in event store and published by the event publisher:

[code]

This comes to me with an conclusion that there is no transaction during saving these events to the event store either publishing then on the bus / updating read model.
When save of s

[2018-08-15 17:43] lucabriguglia commented on #29
You are right, there is no transaction for the events.
But the possibility of having more than one event as a result of a command handler is very low.
I decided to have a list of domain events as result just to give the framework more flexibilty.
Also, it would be something not support by all data providers.
Regarding the read model, if you want it to be immediately consistent you could save it in

[2018-08-17 07:39] lucabriguglia opened #30 "Add CosmosDB SQL EF Data Provider"

[2018-08-17 13:44] andreujuanc opened #31 "Add in-memory provider for testing purposes"
Hello,

I find this project amazing and so well implented. To bad noone made an inmemory implementation of the innerworkings.

Yes, there are some mocks and stuff in the test projects. But It'd be nice to have at least something pre-made, well-tested, to use in our unit tests.

I will try to implemented everything myself, but I'm adding this issue just in case someone already did or just as a remi

[2018-08-17 15:31] lucabriguglia commented on #31
Post a link to your implementation when it's done and we might implement something similar in the project.

[2018-08-17 21:38] lucabriguglia commented on #31
That's a good idea, I'll add a new data provider: OpenCQRS.Store.EF.InMemory

[2018-08-17 21:54] andreujuanc commented on #31
Sorry I didnt reply earlier.

I'm halfway done on mine.  But I'm sure your implementation might be better!

Ill share what I have in this pastebin https://pastebin.com/Zps93Wqj
Will expire in 2 weeks! Dont want people seening my RUSH OUT code. xD

I did copy-pasta Event, Aggregate, and Command documents from mongo provider project. C:

I'm currently observing how ICommandStore and IEventStore work

[2018-08-17 21:55] andreujuanc commented on #31
Sorry I didnt reply earlier.

I'm halfway done on mine.  But I'm sure your implementation might be better!

Ill share what I have in this pastebin https://pastebin.com/Zps93Wqj
Will expire in 2 weeks! Dont want people seening my RUSH OUT code. xD

I did copy-pasta Event, Aggregate, and Command documents from mongo provider project. C:

I'm currently observing how ICommandStore and IEventStore work

[2018-08-18 08:09] lucabriguglia commented on #31
Thanks for your contribution, look forward to seeing your project.

[2018-08-18 12:47] andreujuanc commented on #31
@lucabriguglia did you check my pastebin? Can you tell me if my implementation is going the right way?

[2018-08-18 14:50] andreujuanc commented on #31
Got it working. I'll try to PR it this weekend! Need to clean up the code and some refactoring.

[2018-08-18 19:00] andreujuanc commented on #31
You know, i was thinking that maybe it's better to add the EF In-memory provider, and call it a day? xP

Good part is that I got a good look into the internals :)

[2018-08-18 19:42] lucabriguglia commented on #28
Released

[2018-08-18 19:42] #28 closed

[2018-08-18 19:51] andreujuanc commented on #31
Yeap, EF is good for integrations tests. But my memory store fits better for unit testing aggrates without the need for entity framework.
I'd love to use both!

[2018-08-18 20:05] lucabriguglia commented on #31
I'll have a look as soon as I can.

[2018-08-19 10:01] lucabriguglia commented on #31
@andreujuanc your link is broken

[2018-08-19 10:53] lucabriguglia commented on #31
Added in memory database provider for entity framework in the Dev branch: https://github.com/OpenCQRS/OpenCQRS/tree/Dev/src/OpenCqrs.Store.EF.InMemory

[2018-08-19 20:54] lucabriguglia commented on #29
As System.Transactions is now supported in EF Core 2.1, I'll add support to transactions.

[2018-08-20 18:40] lucabriguglia opened #32 "Add transactions support"

[2018-08-20 18:41] lucabriguglia commented on #29
Closing this issue as I've created a new issue #35 for transactions support.

[2018-08-20 18:41] #29 closed

[2018-08-21 17:15] lucabriguglia commented on #31
It's a good start :-)

[2018-08-21 17:17] lucabriguglia commented on #31
Do you mind share with us an example of a unit test using it?

[2018-08-21 17:56] andreujuanc commented on #31
I know it's a bit crude, but this way, using a memorystore instead of a inmemory EF DB, My domain can be tested without incorporating any especific implementation on how i'll store the data.

That way is not just faster, but migration free.

Here's a small peek of a PoC design i'm working on.

[code]

NOTE: please do not rate my unittest skills! 👅

[2018-08-22 10:54] andreujuanc commented on #22
IMHO, Actor implementation would take a while, it requires networking, persistence, queues, and so on.
BUT, i would love to see it here.

I think it's better to have suport for 3rd party integrations, since other projects already got community acceptance, for example, Akka is a much more mature product.

[2018-08-22 11:47] andreujuanc opened #33 "[Idea] Simplify dispatcher - Make callee responsible it's actions"
Hello,

This idea might be really hard to implement: **what if IDispatcher were simpler**?

There are basically 4 flavours for the dispatcher to dispatch a ICommand:

- Simple ICommand
- Simple IDomainCommand
- ICommand with Events
- IDomainCommand with Events

In this case, the person who is executing the action has to know exactly what to use regarding the actual actual implementation of the com

[2018-08-22 15:09] andreujuanc commented on #33
Here it is:
https://github.com/andreujuanc/OpenCQRS/blob/simplifyDispatcher/src/OpenCqrs/Commands/CommandSender.cs#L41

[2018-08-22 18:49] lucabriguglia commented on #33
I like the idea of making commands responsible of the aggregate root definition and I would like to do the same for queries/results.
I'm not so sure about the implementation in the command sender tough, I'll give it a try in the next few days.

[2018-08-30 08:38] asokalskyy opened #34 "Connection strings should be under Connection Strings object"
Now it's look like

_"ServiceBusConfiguration": {
    "ConnectionString": "Endpoint=sb://"
  },
  "DomainDbConfiguration": {
    "ConnectionString": "Data Source=.\\;"
  },
  "ConnectionStrings": {
    "SqlConnection": "Data Source=.\\"
  },_

For applications published on Azure connection strings are hidden, so better to put them under correct object.

_"ConnectionStrings": {
    "SqlConnection":

[2018-08-30 08:45] andreujuanc commented on #34
I just had this thought a few days ago when I deployed a prototype into azure app service.
+1

[2018-08-30 15:30] asokalskyy opened #35 "InvalidOperationException: Unable to resolve service for type 'Microsoft.AspNetCore.Http.IHttpContextAccessor' while attempting to activate 'OpenCqrs.Dependencies.Resolver'"
WebAPI project, core 2.1.1.

[2018-08-30 18:31] asokalskyy opened #36 "OpenCqrs.Store.EF.SqlServer: Add index for AggregateId during table creation for DomainEvent / DomainCommand tables"
Event history is loaded during GetById method, so fast indexed query is a requirement.

[2018-08-30 19:57] lucabriguglia commented on #36
Agree, good spot! Thanks :-)

[2018-08-30 19:58] lucabriguglia commented on #35
I'll have a look as soon as I can, thanks.

[2018-08-30 20:07] lucabriguglia commented on #34
Good observation.

[2018-08-30 20:38] andreujuanc commented on #35
I'm using 2.1.1 and it does work properly.
What's your setup like?

[2018-08-31 07:13] lucabriguglia commented on #35
This is a know bug (#27) but it should happen only on console apps.

[2018-08-31 08:36] asokalskyy commented on #35
:) I got this issue during xUnit integration tests creation first. To get integration things work right I have injected all in test constructor:

        public SomeTestConstructor()
        {
            IConfiguration configuration = new ConfigurationBuilder()
                .AddJsonFile("appsettings.json", false, true)
                .Build();

            var service = new ServiceCollection(

[2018-08-31 08:53] asokalskyy commented on #35
Emm... I just forgot to clarify, that was really surprised, when found the error in Web API response. This was the main reason WHY I used service locator pattern for IoC container.

Startup file of API:

    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { ge

[2018-08-31 09:58] lucabriguglia commented on #35
Thanks @asokalskyy I'll fix this issue in the next release.

[2018-08-31 10:02] lucabriguglia commented on #27
Closing this issue, #35 will be used instead.

[2018-08-31 10:02] #27 closed

[2018-09-20 08:09] Im5tu opened #39 "Support for service bus transactional processing"
As discussed IRL, it should be fairly trivial to add support for transactional processing on the service bus:

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-transactions

https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/TransactionsAndSendVia

[2018-09-20 08:10] lucabriguglia commented on #39
Love it, I will definitely add support for it!

[2018-09-22 14:42] lucabriguglia commented on #35
Fixed in Version 5.3

[2018-09-22 14:42] #35 closed

[2018-09-22 14:43] lucabriguglia commented on #31
In memory database provider added in Version 5.3

[2018-09-22 14:43] #31 closed

[2018-10-08 20:51] Ilchuk-Mihail opened #40 "How to restore all database data from event store ?"

[2018-10-09 15:50] lucabriguglia commented on #40
Can you please more specific? What do you mean with database data? Read model?

[2018-10-09 17:02] Ilchuk-Mihail commented on #40
I mean  if I have event store db, and I want to recreate red store , how to do it?
For all users data .

[2018-10-10 10:26] Im5tu opened #41 "Support for Amazon SQS"
Since there is ASB support already: https://aws.amazon.com/sqs/

[2018-10-10 10:26] Im5tu opened #42 "Support for RabbitMQ"
Since there is support for ASB already: https://www.rabbitmq.com/

[2018-10-10 10:27] Im5tu opened #43 "Support for Kafka"
Since there is support for ASB already: https://kafka.apache.org/

[2018-10-11 13:56] lucabriguglia commented on #40
I need to add an aggregate store to get all aggregates.
For each aggregate you can then get all events.

[2018-11-05 11:36] Ilchuk-Mihail opened #45 "Where should be placed business logic?"
If I placed this confidential logic in command handler.  This data also writes in event store,  table DomainCommand.

It should be additional layer for all logic (some services), and Commands/Events only updates storages ?

[2018-11-05 20:05] lucabriguglia commented on #45
I put the business logic in the handler itself and in the aggregate. Everything related to event sourcing happens under the hood. Command handlers are the equivalent of buissness services in a layered architecture.

[2018-11-05 20:14] Ilchuk-Mihail commented on #45
Yes, but if I need works with some confidential data (some encryption data, etc).
So, if I do it in commands it's data writes to DomainCommands table in not encrypted format.

Also, If I need to do some manipulation with data, and return result from command, not store it.

[2018-11-05 21:02] Ilchuk-Mihail commented on #45
Some another questions: Could I do some commands in background ?
I did make hangfire (fire and forget job), but nothing happened. For command/events execution needs context ?

[2018-11-06 20:55] Ilchuk-Mihail commented on #45
error in background execution

System.NullReferenceException: Object reference not set to an instance of an object.
   at OpenCqrs.Dependencies.Resolver.Resolve[T]()
   at OpenCqrs.Dependencies.HandlerResolver.ResolveHandler[THandler]()
   at OpenCqrs.Queries.QueryProcessor.ProcessAsync[TQuery,TResult](TQuery query)

[2018-11-06 21:08] Ilchuk-Mihail opened #46 "Run commands/queries in background"
I did make hangfire (fire and forget job), but nothing happened. For command/events execution needs context ?

Exception:
System.NullReferenceException: Object reference not set to an instance of an object.
at OpenCqrs.Dependencies.Resolver.ResolveT
at OpenCqrs.Dependencies.HandlerResolver.ResolveHandlerTHandler
at OpenCqrs.Queries.QueryProcessor.ProcessAsync[TQuery,TResult](TQuery query)

[2018-12-18 09:39] lucabriguglia commented on #46
Sorry for the delay, do you have a repo I can see?

[2018-12-18 09:42] lucabriguglia commented on #45
These are two options I could add, not store the commands and return a result.

[2018-12-18 10:32] Ilchuk-Mihail commented on #46
No, I can't show repo. It's private repo.
But I can create demo for you (with hangfire) if needed.

[2018-12-18 13:40] Ilchuk-Mihail opened #47 "Add event version and event upgrade support"

[2019-01-25 16:17] RinatS opened #48 "Support for Azure Event Grid"
Hi - I am looking for the simple CQRS .NET Core framework. Are there plans to support Event Grid instead of Azure Service Bus? How much of a work is it to get the EventGrid plugged in if I take it on my own?
Rinat

[2019-03-17 09:45] lucabriguglia commented on #45
Hi @Ilchuk-Mihail, sorry for the delay, tough time between work and uni :-)
I'm trying to find the best way to add a configuration option for saving commands at the global level and at the command level.
Not sure about returning results for the commands. Ideally commands should not return anything, but maybe it might be useful to return the event(s) generated.

[2019-03-17 09:46] lucabriguglia commented on #46
It would be good, I need a way to replicate it.

[2019-03-17 09:47] lucabriguglia commented on #47
Can you describe in details what you would like to achieve?

[2019-03-17 09:51] lucabriguglia commented on #48
Hi @RinatS, in order to support Event Grid should be sufficient to create a separate bus provider based on the same interface used by Service Bus. I don't have experience with Event Grid so it should be investigated.

[2019-03-17 10:02] lucabriguglia commented on #45
Doing some experiments in the dev branch: https://github.com/OpenCQRS/OpenCQRS/tree/Dev

[2019-03-17 14:07] lucabriguglia commented on #45
I have added global configuration options that can be set during registration (default value is true):
[code]
and the default setting can be overridden for every command using the new property SaveCommand of the IDomainCommand interface:
[code]

[2019-03-17 14:24] lucabriguglia commented on #33
Based on your suggestion I'm adding a new global option and a property to the IEvent interface in order to decide if publish the event or not. You can follow the progress in the dev branch: https://github.com/OpenCQRS/OpenCQRS/tree/Dev

[2019-03-18 18:03] andreujuanc commented on #48
This can be interesting, @RinatS .
I'm curious why not to use Service Bus topics? Is it because of the throughput?

[2019-03-18 18:12] andreujuanc commented on #45
Maybe he meant to do this in a by-command basis? and not for the whole app?

[code]

[code]

[code]

Or similar approaches.

TIL: https://en.wiktionary.org/wiki/unpersist

[2019-03-18 18:20] andreujuanc commented on #33
Great! will take a look a it!

[2019-03-19 08:58] lucabriguglia commented on #45
You can set it for the whole app and still be able to override it on a command basis by simply override the property SaveCommand

[2019-03-19 08:59] lucabriguglia commented on #33
Thanks @andreujuanc

[2019-03-19 09:03] lucabriguglia commented on #33
Breaking changes here: https://github.com/OpenCQRS/OpenCQRS/releases

[2019-03-19 10:57] andreujuanc commented on #45
Great!

[2019-03-19 20:11] lucabriguglia commented on #45
I'm wondering if it might be better to still save the command but not the data associated to it.

[2019-03-19 20:18] Ilchuk-Mihail commented on #45
@lucabriguglia
Thanks for help.

In my opinion, it is a better way. That way we can track all events and commands which happened in the app. We will not have any gaps.

[2019-03-19 20:26] lucabriguglia commented on #45
I agree, I would change the SaveCommand property to SaveCommandData.

[2019-03-19 20:43] Ilchuk-Mihail commented on #47
It is more depend on event sourcing.

For example:
For a long time we had domain model with some Data, and has a bunch of events in event store.
Now we need to update our domain model, and need some mechanism to apply old events.
Because now we have new domain model and new events.

So, I propose to have some Event Version as a metadata. When our app produce new events, their would be in different

[2019-03-19 20:45] Ilchuk-Mihail commented on #46
@lucabriguglia I will prepare some example for you .

[2019-03-19 20:53] lucabriguglia commented on #47
Events should be immutable, your domain should be responsible to apply old and new events.

[2019-03-19 20:53] lucabriguglia commented on #45
Commit here: https://github.com/OpenCQRS/OpenCQRS/commit/473cb1b72a0815a82f7573a65d860e123dc582e3

[2019-03-20 13:37] Ilchuk-Mihail commented on #47
@lucabriguglia  yes events immutable "in ideal world :) )"

Just worry if it will not be a problem in future.

Is it not a problem to continue support this logic ?

Check this :

Versioning of Events in Event Sourced Systems
https://www.infoq.com/news/2017/07/versioning-event-sourcing

And some solutions to Problem: Evolving events
https://ookami86.github.io/event-sourcing-in-practice/#slide-51

[2019-03-21 21:27] lucabriguglia commented on #47
I agree with what Young says and I believe that events should not be modified as it would cause a lot of problems.

[2019-03-23 18:58] #45 closed

[2019-03-23 18:59] #33 closed

[2019-03-23 19:00] #7 closed

[2019-03-23 19:00] #19 closed

[2019-03-23 19:01] lucabriguglia commented on #40
I've added the aggregate store, it will be now easier to add this feature.

[2019-03-24 13:30] lucabriguglia opened #50 "Event type mapper configuration in startup"
An AutoMapper mapper configuration to create a concrete event object is currently created on the fly for each event after a command has been handled in order to save and/or publish the event itself.
It's an expensive operation and because all event types are already known at the startup time, I'm going to create a single mapper configuration and register all mappings when register the services.

[2019-03-28 19:59] lucabriguglia opened #51 "Set Aggregate in Command (simplify dispatcher)"
Add IDomainCommand<IAggegate> as suggested by @andreujuanc

[2019-03-28 20:27] andreujuanc commented on #51
Is this for v7? :)

[2019-03-28 20:32] lucabriguglia commented on #51
Well, it may be. I'm playing around a little bit and it looks like it would need a lot of refactoring at every level.

[2019-03-28 20:38] lucabriguglia commented on #51
And also, I don't see a way of achieving it without using reflection and therefore having repercussions on performance.

[2019-03-29 08:07] lucabriguglia commented on #50
Merged release branch

[2019-03-29 08:07] #50 closed

[2019-03-31 19:00] lucabriguglia commented on #42
Included in Version 6.1

[2019-03-31 19:00] #42 closed

[2019-04-21 12:58] lucabriguglia opened #52 "Azure pipeline"

[2019-04-23 23:36] irperez opened #53 "License issue"
I love what you guys have done with this project.  However, due to it being licensed as GPL, our company cannot adopt this into our software.  I wish it was licensed as MIT or Apache.

Just an FYI.  I'm probably not alone in this camp.

[2019-04-24 06:28] lucabriguglia commented on #53
Hi @irperez, thanks for the information. You are the first one to raise this problem but I'll have a look at other licenses.

[2019-04-24 07:33] lucabriguglia commented on #53
I might opt for Apache 2.0 because you are right as per the nature of this project it would make more sense.

[2019-04-24 10:33] lucabriguglia commented on #53
License changed to Apache 2.0. Thanks @irperez

[2019-04-26 08:24] lucabriguglia commented on #53
@irperez please let me know if I can help you in any way with using the the framework.

[2019-04-26 21:49] irperez commented on #53
Thank you @lucabriguglia.

With this license change, we can have a much more serious look at it thank you for that!

[2019-04-27 09:21] lucabriguglia commented on #53
@irperez happy to help :-)

[2019-05-02 09:05] #53 closed

[2019-05-08 09:16] lucabriguglia opened #55 "Custom properties in bus message"

[2019-05-13 15:05] andreujuanc commented on #55
I would love to discuss how we'll implement this custom properties for Rabbit, since the rabbit message it's just a byte[], how would we approach it? Should we place some kind of contract based on a specification? Or maybe some OpenCQRS properties.

[2019-05-13 15:12] lucabriguglia commented on #55
Good question, I don't know yet. Please feel free to comment with any ideas and we'll discuss them.

[2019-05-15 11:45] andreujuanc opened #56 "[Discuss] CosmosDb Provider additional options"
Hello!,

For a new project we are going to use CosmosDb provider, which works fine, but we realized that it does not use partition keys, or allow to change other options like throughput, etc .

I'll be submitting a PR for that, but while I get the code together i would love to get some input on this.

Two main ways of doing this: First is to add properties to DomainDbConfiguration, the second one

[2019-05-17 09:47] lucabriguglia opened #57 "Renaming the project"
I'm thinking about a new name for the project. The main reason is that the framework can be useful even in projects that don't use CQRS or Event Sourcing. It can be used just to create a simple and clean design enforcing single responsibility and separation of concerns. It should not be coupled just to the CQRS concept.

[2019-05-17 10:05] andreujuanc commented on #57
I must agree, tho I found the project because of the naming :)

~~OpenCQRSWithEventSourcingAndDDD Is a bit of a tongue twister~~

Yesterday I was explaining SOLID principles to a friend and maybe we can use that as a base to create the name? For example OpenSOLID, Solidfy,  Or in other languages like OpenKotai or just Kotai in japanese sounds good, tho, katai (hard) rolls easier.

Naming is the ha

[2019-05-17 10:21] lucabriguglia commented on #57
Oh definitively, naming is everything :-)

[2019-05-17 10:25] lucabriguglia commented on #57
I like the term Kotai

[2019-05-17 19:57] andreujuanc opened #58 "Stores' access modifier"
Small example, for AggregateStore in Cosmos.Sql is internal but Cosmos.Mongo is public.

I see no harm in exposing them as public. Should they be all public?
For now the only way to use the Cosmos.Sql AggregateStore is via DI and aspnet builder.

What you guys think?

UPDATE:
This should also apply to some base classes and most interfaces.

[2019-05-20 08:26] lucabriguglia commented on #58
I'll have a look, it is inconsistent anyway which is not good.

[2019-05-20 10:20] lucabriguglia commented on #57
I might have found the new name, looking for the available domain names ;-)

[2019-05-20 10:30] andreujuanc commented on #57
Nice! can't wait 🎆
I recommend cloudflare.com as a registrar 👀

[2019-05-20 10:33] lucabriguglia commented on #57
Thanks but I have all my domain names with the same registrar, the same for the last 20 years I believe :-)

[2019-05-21 09:37] lucabriguglia commented on #57
I'm still undecided, I like your suggestion for japanese names tough

[2019-05-21 14:50] lucabriguglia commented on #57
Okay, name chosen. With the new name versions will start from 1.0.
More to come.

[2019-05-21 15:37] andreujuanc commented on #57
** INSERT DRUM ROLL **

[2019-05-21 17:34] andreujuanc commented on #56
The CosmosDb SDK is almost here, should I wait for it ? I have some code implemented but not fully. Maybe it's worth the time?

[2019-05-21 20:51] lucabriguglia commented on #56
It can always be updated later.

[2019-05-25 16:48] lucabriguglia commented on #57
The new name is **Kledex**  and version 1.0.0 has already been published to NuGet.

[2019-05-26 17:08] andreujuanc commented on #57
Sounds techie. C:

[2019-05-27 11:54] lucabriguglia commented on #57
This was the process :-)
Clean Design > Cle Des > Cledes > Kledes > Kledex

[2019-05-27 13:12] andreujuanc commented on #57
Great! At first i was like UHM, sounds like Kleenex, then I was like, oh, that's actually good!
Btw, besides all the goodies, Klendex also helps with mediator pattern. ** read me **  ** wink wink **

[2019-05-27 15:07] lucabriguglia commented on #57
Kledex not Klendex 😂

[2019-05-30 07:02] #57 closed

[2019-05-30 12:12] lucabriguglia commented on #55
@andreujuanc are you creating a new pull request for this issue? If not, I can create a new branch and work on it ;-)

[2019-06-03 08:25] andreujuanc commented on #55
I am, but I was out on holidays. I will post code today :)

[2019-06-03 09:13] andreujuanc commented on #55
So, @lucabriguglia , are you not happy with the last PR I submitted? #54

I think that https://github.com/andreujuanc/OpenCQRS/blob/a20db7c101e34c2be56689a63a8ac7ae03c7178c/src/OpenCqrs.Bus.ServiceBus/Factories/MessageFactory.cs#L22 is enough for this requirement.

I just added custom properties for rabbit:
https://github.com/andreujuanc/OpenCQRS/blob/35d3bec2e13c0728c38b58e1ba258dbcb1347fd4/src/O

[2019-06-03 10:27] lucabriguglia commented on #55
It was just because the project renaming obviously changed the structure.

[2019-06-04 07:37] andreujuanc commented on #55
I messed my repo, gonna clean it and submit the PR after. Time to pick some 🍒  D:

[2019-06-06 17:57] lucabriguglia commented on #55
Okay, no problem :-)

[2019-06-11 13:19] andreujuanc commented on #55
https://github.com/lucabriguglia/Kledex/pull/59
What do you think?

[2019-06-13 07:53] lucabriguglia commented on #55
sorry for the delay, I'll have a look today :-)

[2019-06-14 12:46] andreujuanc opened #60 "AutoMapper configuration"
AFAIK, there is no way to modify AM configuration.  So, I think we should use profiles or some similar mechanisms to allow the user to further configure automapper, since we adding it we might as well let other people configure it.

What you guys think about this?

[2019-06-15 09:11] lucabriguglia commented on #60
It's okay in principle, but what do the users would customize? AutoMapper at the moment is just used for a one to one internal mapping.

[2019-06-15 11:58] andreujuanc commented on #60
If I want to use Automapper for my own stuff, I would have to have a separate instance and IMapper cannot be used because Kledex already added to the services.
There is some mapping I wanted to customize and I coudn't.
Anyway I leave this here anyway as a reminder, since for that project we'll be using https://github.com/MapsterMapper/Mapster instead,

[2019-06-16 15:58] lucabriguglia commented on #60
I think you can use AutoMapper with no issues. You should be able to register your own mapper configuration.

[2019-06-19 09:12] ADringer opened #61 "Examples of using sub objects"
Hi,

Been having a play around with Kledex and really like it so far! However I'm having a little trouble working out the best practice to handle sub objects on my aggregate. Using the example of products that you have, the criteria would be something like:

1. A product can have many reviews.
2. A review has a 'score' property which is an int
3. A review can be added to the product through a comm

[2019-06-19 10:28] lucabriguglia commented on #61
Hi @ADringer,

I think you've got two options here. The first one is to keep Review as "Entity" within the aggregate where Product is the aggregate root. In that case the event "ReviewAdded" belongs to the Product aggregate. The second option is for the Review to be an aggregate root itself and have just the product id as reference to the product aggregate. In that case all events would belong to

[2019-06-19 11:18] andreujuanc commented on #61
Agree with @lucabriguglia comment. Keep the aggregates small.
Just make Review as an aggregate and have the read model store the calculated score.
So actually the review is not added to the product, but it just has a reference to it.

So:

1. A product can have many reviews. ✔️  The readmodel can have a FK (if using relational for example)
2. A review has a 'score' property which is an int ✔️ Calc

[2019-06-19 14:28] ADringer commented on #61
Hi  guys,

thanks for your replies! I understand and agree with you from a implementation point of view, but feel that this isn't necessarily the best practice for DDD. Let me try another example:

Say you have a User aggregate, and a user can have multiple addresses. Only one of these addresses can be flagged as 'primary' at a time. I think you should have to go through the User aggregate and try

[2019-06-19 17:30] hellfirehd opened #62 "AggregateRoot does not increment version when applying events"
[code]

[2019-06-19 17:42] lucabriguglia commented on #61
I agree with you that it would be nicer, but again it depends on your aggregate. In your first example you have products. What's already in the product aggregate? You might have product which is the aggregate root, then you might have variants, categories, prices, reviews, etc. It may get too big at some point and it would be better to re-design the bounded context.

[2019-06-19 17:44] lucabriguglia commented on #62
Let me check and I'll get back to you.

[2019-06-19 18:49] hellfirehd commented on #62
Here's a better test suite:

https://gist.github.com/hellfirehd/35438749aa31366d4ebfbd997db286ff

[2019-06-19 19:22] andreujuanc commented on #62
I think you need to save the aggregate in order to get the version increment. I can be totally wrong, lets wait for Luca to give the final answer.

[2019-06-19 19:24] lucabriguglia commented on #62
Got it, version is currently updated only when the aggregate is loaded from history which means that the aggregate needs to be saved first. This was the intendent behaviour and now I'm wondering if it was the right decision. What do you guys think?

[2019-06-19 19:34] andreujuanc commented on #61
We have something very similar than your example, and yes in our case we do that logic in the user itself, but we also have a rule in which if an aggregate gets too big we sitdown and rethink the whole domain again, to have this issues with least frequency as possible (we're all humans and this can happen).

If the logic for the address is so complex as you described (and it's probably even more s

[2019-06-19 19:38] andreujuanc commented on #62
It makes sense to change the version if it actually saved, and also after all things have been done to it, but then, Version = Event.Count all the time, right?

So we can actually have more info if we get the version to work as @hellfirehd 's gist intended, which is to increment the version number one time per "Apply".

Very interesting indeed.

[2019-06-19 19:39] hellfirehd commented on #62
I think if an event is applied, the version should update.  For example, if I'm stepping through the events for auditing purposes I want to see what the version of the AggregateRoot is after each event is applied.

The following fix passes all tests including the ones I provided:

[code]

Additionally, this is also important for checking concurrency violations and out of order event violations in

[2019-06-19 19:57] lucabriguglia commented on #62
I get your point and I agree on increasing the version when applying events. On the concurrency violation there is already a feature for checking it. You can populate the expected version property in the command.

[2019-06-20 06:15] lucabriguglia commented on #62
But I can see the reasons to be there instead

[2019-06-21 08:45] SlyNet commented on #40
I guess the idea is that when you changed logic in event handler and want to republish events to it to recreate its stored data

[2019-06-21 18:07] #62 closed

[2019-06-21 18:08] lucabriguglia commented on #55
Pull request merged

[2019-06-21 18:08] #55 closed

[2019-06-28 12:50] agolaszewski opened #64 "Business rules and validation"
I was exploring/debugging GettingStarted and one think struck me.
Lets say that i have a business rule that states : product title must be unique.
Now lets image that I have command in a bus with title : "Test"
Now I add another product with name "Test" to the queue. It would require to scan entire commands queue to check if there is another command with same title.
Things get even more complicate

[2019-06-28 19:26] lucabriguglia commented on #64
You should put your validation in the command handler. You need a rule to check if a product with name "Test" already exists. If your are using event sourcing you should check your read model. If you are not using event sourcing, just check in the db.

[2019-07-23 17:32] mchilicki opened #65 "Wiki doesn't work"
Hi, the Wiki and Roadmap links in Readme don't work.

[2019-07-23 22:46] lucabriguglia commented on #65
Thanks a lot @mchilicki, links fixed!

[2019-07-24 14:16] #65 closed

[2019-08-14 09:31] lucabriguglia commented on #64
Hi @agolaszewski I'm closing this issue as there's not been any activity for a while.

[2019-08-14 09:31] #64 closed

[2019-08-14 09:32] lucabriguglia commented on #61
Hi guys I'm closing this issue as there's not been any activity for a while.

[2019-08-14 09:32] #61 closed

[2019-08-14 09:33] lucabriguglia commented on #60
Hi @andreujuanc  I'm closing this issue as there's not been any activity for a while.

[2019-08-14 09:33] #60 closed

[2019-08-14 09:34] #52 closed

[2019-08-14 09:35] lucabriguglia commented on #46
Hi guys I'm closing this issue as there's not been any activity for a while.

[2019-08-14 09:35] #46 closed

[2019-08-14 09:42] lucabriguglia opened #66 "Add command handler interface with no events"
I'm going to add a new command handler interface with the handle method that does not return any events:

[code]

Looking for a name suggestion as ICommandHandlerAsync is already used for the existing one that has events.

[2019-08-23 07:46] #58 closed

[2019-08-30 19:10] Berezhnyk opened #67 "Add docker/docker-compose support for examples"
Add docker/docker-compose support for examples.

[2019-08-31 09:11] lucabriguglia commented on #67
Thanks for the suggestion, are you able to help?

[2019-08-31 09:34] andreujuanc commented on #67
There is nothing special to do in a Kledex application, compared a regular dotnet one.
Following the official docs might be enough: https://docs.docker.com/engine/examples/dotnetcore/
BUT, I still think that having a docker example in the wiki might help get some traction. :)

[2019-09-11 15:55] lucabriguglia opened #68 "Split packages"
I'm going to create two new packages, Kledex.Bus and Kledex.Domain so that unwanted dependencies are removed.

[2019-09-12 06:49] lucabriguglia commented on #68
It should be Kledex.Bus and Kledex.Core (or Abstractions)

[2019-09-28 19:26] hasibul2363 commented on #40
@lucabriguglia  Thank you very much for your sample application. It is really great.
It will be a great help for us if you kindly add a sample or snippet to show how to reconstruction read model.
I have the same request as @Ilchuk-Mihail . You already mentioned you have added `aggregate store`. Could you kindly share how we can use it?

Thanks for your kind help and awesome resource.

[2019-09-28 21:46] lucabriguglia commented on #40
There is the new branch release/1.2 with a new sample all in the samples folder (more to come). I'll try to add a more specific sample.

[2019-09-29 14:24] lucabriguglia opened #69 "Set Result in Query (simplify dispatcher)"
Same logic as #51 but for queries.
Once successfully implemented, I'll do the same for commands.

**Current Interface**
[code]

**New Interface**
[code]

**Current Usage**
[code]

**New Usage**
[code]

[2019-10-02 12:40] Ilchuk-Mihail commented on #67
@lucabriguglia  I can help with this :)

[2019-10-02 18:42] lucabriguglia commented on #67
@Ilchuk-Mihail that would be great, thanks :-)

[2019-10-07 20:57] Ilchuk-Mihail commented on #67
I have started building this. Should I only run that examples in docker or it should be docker compose to run also database? With sql server, I think everything will be ok, but not sure about cosmos db. I don't see any ways to build it in docker compose so far.

[2019-10-08 06:51] lucabriguglia commented on #67
I would start simple and then add stuff where possible

[2019-10-11 15:59] #20 closed

[2019-10-11 16:00] lucabriguglia opened #70 "Optional snapshot in domain events"

[2019-10-14 01:59] rulrok opened #71 "Should I use IDomainCommandHandlerAsync or ICommandHandlerAsync?"
Hello,

on the wiki page it presents us the an example where the command handler inherits from `ICommandHandlerAsync`.

But on code, in `examples > Commands > Handlers`, the examples inherit from `IDomainCommandHandlerAsync`.

What would be the difference?

[2019-10-14 14:10] lucabriguglia commented on #71
Use `ICommandHandlerAsync` for simple commands that don't need any domain functionality like store domain events.
Use `IDomainCommandHandlerAsync` when working on your domain and want to save the domain events to an event store.

[2019-10-15 02:46] rulrok opened #72 "Having problems to integrate into owin ASP.NET application"
Hello,

as far as I understand, there is nothing fancy about `IDispatcher` that it could not work outside `asp.net core`, it would just need an extra step as I show below.

I have an older base code which I cannot upgrade to .net core for now.
What I'm trying to do is manually create a `ServiceCollection` and `IConfigurationProvider` to build the dispatcher. It works, but I am having an issue inte

[2019-10-15 15:20] bakbuz opened #73 "Will the .Net Core 3.0 version be updated?"
Will the new version be updated?

[2019-10-15 15:23] #71 closed

[2019-10-15 15:40] lucabriguglia commented on #73
Yes, version 1.2 will be on 3.0.

[2019-10-15 15:41] lucabriguglia commented on #71
No problem :-)

[2019-10-15 15:43] bakbuz commented on #73
Thank you!

[2019-10-15 15:43] #73 closed

[2019-10-15 15:44] rulrok commented on #72
Could it have something to do when `webactivator` executes and `Scrutor`? Maybe `WebActivator` runs somehow in a way that is have not loaded assemblies or what yet?

[2019-10-16 03:57] rulrok commented on #72
Hello, updating the issue with my progress, so hopefully it can help someone in the future.
I have a question at the end.

Apparently I can get rid of WebActivator. I moved the initialization of my `Unity` container to `Global.asax.cs` file. It somehow fixes the problem I was having. I don't know why though.

Also, I'm using `Unity.Microsoft.DependecyInjection` package so I can use my `Unity` cont

[2019-10-16 07:38] lucabriguglia commented on #72
I'm not a Unity expert but I'm assuming that what you are doing is correct and thanks for sharing your solution, it could help someone else :-)

[2019-10-17 03:29] rulrok opened #74 "Is outbox pattern viable?"
If I understand, outbox could be a mechanism for messaging queue but without relying on external services like message bus; it could just work on the same sql server used for aggregates.

It would require querying database like every 15 seconds or something to consume messages.

Any thoughts if that fits the project?

[2019-10-17 07:37] lucabriguglia commented on #74
It does fit the project but it's not implemented by default. You need to create a service that queries the data store whatever it is and processes the messages. Obviously you need an extra data store or something to track the messages as picked up and processed.

[2019-10-19 11:08] lucabriguglia opened #75 "Aggregate saved with empty id"

[2019-10-19 12:00] lucabriguglia commented on #75
Fixed in Version 1.2

[2019-10-19 12:00] #75 closed

[2019-10-19 19:52] rulrok commented on #73
But will it keep also targeting `.netstandard2.0`?

[2019-10-19 20:41] lucabriguglia commented on #73
It's already targeting .netstandard2.0, it will target .netstandard2.1

[2019-10-19 21:16] rulrok commented on #73
I mean, will you drop support for `.netstandard2.0`?
I hope not as I have a `.net 4.7.2` project and it is limited to `.netstandard2.0` upmost.
I wouldn't be able to receive updates if only targeting `.netstandard2.1`.

[2019-10-19 22:30] rulrok opened #76 "How to communicate between multiple domains?"
I'm trying to make every domain I have into a separate class library project.
So far I have only one for `billing`, but I know I will have in the future other domains which must respond to events from `billing` domain.

Example:
Someone renews their subscription and the `billing` domain emits a `subscriptionRenewedEvent`.
In another domain, say, `staffManagement`, I will need to handle the event.

[2019-10-20 00:33] rulrok opened #77 "Offer IRepository<T, TKey> for non-ES repository"
I'm using `Kledex` for CQRS + DDD without event sourcing.

My project has a legacy EF6 which I inject into my commands.
I wanted to create an ACL to inject `IRepository<T>` and create my own implementation of it;

[code]

and register it:

[code]

The problem is that this interface only works with `Guid`, but my database uses `int` for primary key.
I was thinking of an interface which would let me

[2019-10-20 01:23] rulrok commented on #77
For now I've created my own interface (but I feel it could be part of the framework):

[code]

Them I can have my aggregate as:

[code]

and I can easily work only with the `IAclRepository` from my handler

[code]

and for now I'm just mapping my aggregate to main entity model (manually). As the properties between my domain model and database entity increases, I'd use something like automapper or

[2019-10-20 10:43] lucabriguglia commented on #73
Oh okay, don't worry it will still work :-)

[2019-10-20 10:47] lucabriguglia commented on #76
Creating separate libraries for the domain events is absolutely fine.
Also, bear in mind that if you work on a microservices architecture, you could use the message bus functionality to comunicate beween them.

[2019-10-20 10:56] lucabriguglia commented on #77
The repositories for the write model in _non event sourcing_ scenarios were always meant to be custom in my views but thanks for the suggestion :-)

[2019-10-22 17:33] rulrok opened #78 "Is Source field intended for generic logging?"
Hi

I don't see a particular usage on Kledex code _per se_, so I'm assuming I could use it for putting any information I'd like.

They are located in `IDomainCommand` and `IDomainEvent`.

I'm planning to use that for logging user IP, browser version, etc.

Is that so?

[2019-10-22 18:11] lucabriguglia commented on #78
Hi, it was meant to be used for the source of the command and therefore of the events (e.g. api 1, api 2, site 1, site 2, etc...)

[2019-10-23 14:11] lucabriguglia commented on #69
Released in version 1.2

[2019-10-23 14:11] #69 closed

[2019-10-24 01:05] ekjuanrejon opened #79 "Replay a stream"
At the moment we are using https://eventstore.org/ we are making using the default projects. This means that we can replay a stream by

Event Store ships with four built in projections.

By Category ($by_category)
By Event Type ($by_event_type)
By Correlation ID ($by_correlation_id)
Stream by Category ($stream_by_category)
Streams ($streams)

example: $ce-Customer This will contain all the events.

[2019-10-24 08:03] lucabriguglia commented on #79
It's not something that is supported out of the box at the moment but thanks for the input, I'll add it as future improvements.

[2019-10-24 09:57] hasibul2363 opened #80 "Any plane for saga"
Thank you very much for sharing such wonderful framework. I just want to know do you have any plane to incorporate saga with Kledex?

[2019-10-24 10:09] #80 closed

[2019-10-27 09:43] lucabriguglia commented on #68
I have opted for the default implementation of interfaces for the time being.

[2019-10-27 09:43] #68 closed

[2019-10-28 22:10] xaviersolau opened #81 "[Question] How is the concurrency supported?"
Hello,
How is supported concurrency? I mean if I want to process two commands on the same aggregate ?
Regards

[2019-10-29 08:55] lucabriguglia commented on #81
Hi,
there is an option to check for the expected version.
In the domain command you can set the expected version number.
If the actual version is different from the expected version a concurrency exception is thrown.
Is this answer your question?

[2019-10-29 14:59] lucabriguglia opened #82 "Merge aggregate, command and event stores"
Merge all the current stores into a single domain store to make easier the introduction of shared transactions with command and event handlers and simplify the command sender.

[2019-10-29 16:20] xaviersolau commented on #81
Ok but when are we supposed to set the expected version exactly? in the command handler when the aggregate is loaded?

[2019-10-29 16:38] lucabriguglia commented on #81
When the command is created before using the dispatcher.
Imagine you have a web app and a mobile app and two commands are sent to the API at the same time. Both apps are expecting the aggregate to be on version let's say 4 and the second command to finish the work would find the version to be 5 and therefore the state is invalid because the command was based on version 4.

[2019-10-29 17:47] xaviersolau commented on #81
Do you mean that I have to load the aggregate (in order to get the current version) before I can create a command?

[2019-10-29 17:56] lucabriguglia commented on #81
If you want to use the expected version functionality in oprder to prevent concurrency issues you need somehow to provide the version number which might even come from the read model so you won't need to load the whole aggregate.

[2019-10-29 23:26] xaviersolau commented on #81
Here is the way I would like to use it. Please tell me if I am doing it wrong or if I am missing something.

Let's take an example with an “account” with a Sold property and a “debitCommand” with an Amount property:

All is coded in the debit command handler:

1: Load aggregate
[code]
2: Check the account is known
[code]
3: Check the command can be applied (based on the loaded aggregate version) i

[2019-10-30 09:08] lucabriguglia commented on #81
There is an error in your implementation, the expected version should be `account.Version` and not `account.Version + 1` also my concern is related to the fact that a command could be based on a stale version. Let's assuming that 2 users load the same aggregate on a particular UI and the version for both of them is **4**.
The first user sends a command and your implementation would be correct (aft

[2019-10-30 10:34] xaviersolau commented on #81
Ok thanks for the `+1`.

My point about the concurrent access is that if my API is receiving two commands (debit 10) concurrently, I will have two thread handling the commands and my account sold is 15.

Let's say that I have the following operations:
Thread 1: load aggregate in version 4 (sold = 15)
Thread 2: load aggregate in version 4 (sold = 15)
Thread 1: check sold 15>10 and set the expected

[2019-10-30 10:47] lucabriguglia commented on #81
Yes, I agree that in your specific scenario is fine because you are covering it in your business logic :-)

[2019-10-30 10:49] xaviersolau commented on #81
Ok thanks for your answers! I will try with this implementation then....
Regards

[2019-10-30 10:50] #81 closed

[2019-10-30 11:07] lucabriguglia commented on #81
No worries, please let me know if you have any other questions!

[2019-10-31 19:54] quentin-villevieille opened #83 "Issue with MongoDB.Driver library v2.8.0"
Hi guys,

There seems to be a bug with MongoDB.Driver v2.8.0. I had the following error message :

`System.TypeInitializationException : 'The type initializer for 'MongoDB.Bson.Serialization.BsonClassMap' threw an exception.'`

I added a reference to MongoDB.Driver v2.9.2 and it works just fine !

Btw, great project!

[2019-10-31 19:54] #83 closed

[2019-10-31 20:33] lucabriguglia commented on #83
Thanks @quentin-villevieille! I'll upgrade the reference :-)

[2019-11-01 20:42] lucabriguglia opened #84 "Optional result for commands"

[2019-11-01 20:43] lucabriguglia opened #85 "Unify command handlers"

[2019-11-01 20:46] lucabriguglia commented on #51
Merged to branch release/2.0

[2019-11-01 20:46] #51 closed

[2019-11-01 20:49] lucabriguglia commented on #82
Merged to branch release/2.0

[2019-11-01 20:49] #82 closed

[2019-11-02 08:21] lucabriguglia commented on #85
I'm getting rid of `IDomainCommandHandler` interface and all type of commands will use the `ICommandHandler` interface.

[2019-11-02 09:59] andreujuanc commented on #85
BRILLIANT.
I'm no longer working on the project in which we used Kledex. But this is a very welcome change.
More than once we had to debug code that was "not working" and the confusion was mostly on those interfaces/dispatchers.

[2019-11-02 11:02] lucabriguglia commented on #85
Changes already in issue-85-command-handlers branch

[2019-11-02 11:03] lucabriguglia commented on #85
I have also merged the command senders

[2019-11-02 11:28] lucabriguglia commented on #85
Merged to release/2.0 branch

[2019-11-02 11:28] #85 closed

[2019-11-02 21:37] lucabriguglia commented on #84
Merged to release/2.0

[2019-11-02 21:37] #84 closed

[2019-11-02 21:39] lucabriguglia commented on #66
Not needed any more, a command handler can now return an empty command response

[2019-11-02 21:39] #66 closed

[2019-11-03 09:45] lucabriguglia commented on #71
In version 2.0 I'm removing the IDomainCommandHandler andIDomainCommandHandlerAsync interfaces. The only interfaces to be used will be ICommandHandler and ICommandHandlerAsync. I'm also simplifying the dispatcher and merging the two command senders.

[2019-11-04 01:04] rulrok commented on #71
That's a good move.

I've noticed that today because of the different overloads of methods on the dispatcher, I need to explicitly inform the generic types, and it is easy to misinform one of them and the dispatcher won't find the handler, even if there's only one handler.

[2019-11-05 09:34] lucabriguglia commented on #32
It looks like is not possible to implement this feature at the moment. Distributed transactions are not supported yet in .NET Core and shared database connections don't work on separate processes.

[2019-11-06 21:42] rulrok commented on #73
@lucabriguglia I'm trying to update to version `1.2.0`, but the nuget doesn't target `.netstandard2.0`, only `.netstandard2.1`.

[2019-11-07 07:58] lucabriguglia commented on #73
Yes sorry I was wrong with my previous comment, let me what I can do.

[2019-11-08 09:26] lucabriguglia opened #86 "Command validation"
Add a validation service that will automatically run a series of rules to validate the commands and throw a validation exception if the validation fails.

[2019-11-11 12:43] lucabriguglia commented on #86
Released in version 2.1.

[2019-11-11 12:43] #86 closed

[2019-11-11 12:46] lucabriguglia opened #87 "Cache Manager"
Service to add and retrieve data from cache.
First 2 providers: Memory and Redis.
A query result will be automatically cached if the query implements the new interface ICacheableQuery<TResult>

[2019-11-11 13:49] lucabriguglia commented on #73
@rulrok I have just released a special version (1.3.0) which is basically the same as 2.1.0 functionality wise but targeting netstandard2.0.
Please let me know if it works in your app!

[2019-11-13 13:07] lucabriguglia commented on #34
I'm adding all connection strings under "ConnectionStrings":
- KledexDomainStore
- KledexMessageBus
- KledexRedisCache

The only exception will be CosmosSql as it needs to inputs: ServiceEndpoint and AuthKey.
For that I'm adding the new section KledexCosmosSqlConfiguration.

Another change is for the remaining options (database name, collection name, etc.), I'm adding the options as override when

[2019-11-15 14:06] lucabriguglia commented on #87
Released in version 2.2

[2019-11-15 14:06] #87 closed

[2019-11-16 15:28] lucabriguglia opened #88 "Simplify providers"
A small refactoring for the 4 types of providers in order to make customisation easier.
After the refactoring there will be a single interface for each provider:

- IStoreProvider
- IBusProvider
- IValidationProvider
- ICacheProvider

[2019-11-16 23:34] hasibul2363 opened #89 "How command handler invoked when we are using RabbitMq as a Bus"
According to documentation, I have added following to send command using Bus
`  .AddRabbitMQProvider()`
`  await _dispatcher.DispatchBusMessageAsync(command);`
I have found it was storing message in rabbit MQ.
My question is what type of configuration I need to do to trigger CommandHandler.
Is there any sample that I can follow.
Expecting your help.
Thanks in advance.

[2019-11-16 23:45] lucabriguglia commented on #89
You need to call _dispatch.SendAsync(command) in order to trigger the command handler and then as part of the command response return event(s) that implements eirher the IQueueMessage or ITopicMessage interfaces. When an event implements one of those interfaces is automatically dispatch to the message bus.

[2019-11-16 23:48] lucabriguglia commented on #89
I'm planning to create a few diagrams to explain better how the flows work.

[2019-11-17 10:21] kwentinn commented on #89
Brilliant idea!

[2019-11-17 10:54] hasibul2363 commented on #89
@lucabriguglia
Thank you very much for your response. Yes, you are correct if I use `_dispatch.SendAsync(command)` then handler invoked and that is from in memory (meaning the same project).

If I would like to handle command through the bus then what things I need to do? I have used `IBusQueueMessage` to create message. When I am using `_dispatcher.DispatchBusMessageAsync(command)`; it sends mess

[2019-11-17 11:09] lucabriguglia commented on #89
@hasibul2363 yes you need to write your own code to handle the command (or an event). What Kledex does at the moment is just to put a message on the bus queue or topic (normally an event after the execution of a command handler). But thanks because this is a functionality that might be implemented.

[2019-11-17 17:17] #89 closed

[2019-11-17 18:19] lucabriguglia commented on #88
Released in version 2.2.1

[2019-11-17 18:19] #88 closed

[2019-11-17 18:19] lucabriguglia commented on #34
Released in version 2.2.0

[2019-11-17 18:19] #34 closed

[2019-11-18 13:43] lucabriguglia commented on #89
Just published the first diagram in the [README](https://github.com/lucabriguglia/Kledex/blob/master/README.md) file.

[2019-11-18 23:58] kwentinn opened #90 "IPolicy interface that allows business-rules enforcement"
Hi guys,
I'm currently working on a side-project to check out the possibilities of DDD, CQRS and Event Sourcing.  It's a simple scheduling program.
I've introduced an `IPolicy` interface that aims at checking some more stuff that the aggregate root cannot (eg. query a read model via some other read model repository). It simply defines a single method `CanExecuteAsync` that the deriving classes mus

[2019-11-19 05:41] baoduy opened #91 "How to work with DbContexts"
Hi,
How could we implement the multi DbContexts with EfCore? Please share if there is any sample available?

[2019-11-19 08:53] lucabriguglia commented on #91
Hi, what do you mean with multi DbContext?

[2019-11-19 08:56] lucabriguglia commented on #90
Hi @kwentinn we already have something similar. There is a validation service that can called automatically to validate the commands before they are sent to the command handler.

[2019-11-19 08:58] lucabriguglia commented on #90
Documentation: https://lucabriguglia.github.io/Kledex/Validation

[2019-11-19 09:00] lucabriguglia commented on #90
Regarding the business rules, I add in the aggregate only the rules for the invariants and everything else into a separate validator.

[2019-11-19 10:16] quentin-villevieille commented on #90
I guess I didn't really understand the point of your validation service ! I'm gonna shift this implementation into a validation service and that should do the trick.
Thanks for your feedback @lucabriguglia :)

[2019-11-19 12:56] lucabriguglia commented on #90
No problem, give me a shout if you don't want to use Fluent Validation and you want to create a custom validation provider and need help ;-)

[2019-11-20 03:50] baoduy commented on #91
Hi @lucabriguglia
As you know the DDD has an concept is BoundedContext, to implement with Entity Framework Core. I'm using DbContext as my BoundedContext and within an application we may have more than 1 Bounded Contexts and I would like to check how to link them to Kledex Storage?

[2019-11-20 08:05] lucabriguglia commented on #91
Hi @baoduy
You may use the property "Source" when sending a command. That value is saved with all commands and events and therefore you will be able to "group" data by context (source)

[2019-11-20 09:32] quentin-villevieille opened #92 "Composite commands"
Hi,
I stumbled upon an [interesting article](https://gunnarpeipman.com/composite-command-pattern/) yesterday about composite commands. Basically a composite command is a command container, each command being a container (or not). In the article, `ICommand` defines an `Execute` method to implement in deriving classes.
But as far as I know, this can't be achieved with Kledex because of the way the c

[2019-11-20 09:43] quentin-villevieille opened #93 "Mapping commands and events"
Hi,
Is mapping commands to events a good idea ? The properties inside a command and an event are often exactly the same, there seems to be a strong link between the two classes.

[2019-11-20 10:03] lucabriguglia commented on #92
I like the idea behind it but not the suggested solution. If I understand it correctly, Execute() should be the equivalent of a Handle in a command handler (please correct me if I'm wrong). If I am right, how would you deal with dependency injection?

I think you can achieve something similar with Kledex using the event handlers. A command handler produces one or more events that can be automatica

[2019-11-20 10:14] lucabriguglia commented on #93
Hi,
you are right that they are often the same but potentially a command can produce multiple events.
Also, your business logic might change over time which may result in different values for the events (e.g. object status) and you might want to keep trace of that (same command creating an object with a different status).

[2019-11-20 10:38] lucabriguglia commented on #40
I'm going to add a few specific services to achieve what requested here.

[2019-11-20 10:39] lucabriguglia commented on #47
Closing as it has not been active for a while.

[2019-11-20 10:39] #47 closed

[2019-11-20 10:41] lucabriguglia commented on #72
Closing as I'm assuming it is resolved.

[2019-11-20 10:41] #72 closed

[2019-11-20 10:44] lucabriguglia commented on #74
Closing as it has not been active for a while.

[2019-11-20 10:44] #74 closed

[2019-11-20 10:45] lucabriguglia commented on #76
Closing as it has not been active for a while.

[2019-11-20 10:45] #76 closed

[2019-11-20 10:48] lucabriguglia commented on #77
Closing as it has not been active for a while.

[2019-11-20 10:48] #77 closed

[2019-11-20 10:48] lucabriguglia commented on #78
Closing as it has not been active for a while.

[2019-11-20 10:48] #78 closed

[2019-11-20 10:49] lucabriguglia commented on #90
Closing as it seems resolved.

[2019-11-20 18:40] lucabriguglia commented on #92
The more I think about the idea and the more I like it. It should not be too complicated to implement something similar and reusing the current flow. I just need to find a clean way to pass a command response to the next command in the sequence.

[2019-11-20 20:32] lucabriguglia commented on #92
I think we just need a new command handler interface with a handle method that accepts 2 parameters: command and command response of the previous command handler in the sequence.

[2019-11-20 23:56] kwentinn commented on #90
I finished working on it and it works fine ! Here's how I did it :

First, I redesigned the `IPolicy` interface
[code]
`PolicyResult` is just a simple class
[code]
Then I defined a new `PolicyValidationProvider` class :
[code]

I create a static class for Kledex extension like so

[code]

Finally I just need to call the validation provider in the Startup.cs file via `service.AddKledex().AddPolicyV

[2019-11-21 00:11] kwentinn commented on #90
Now, new question ! What if I try to use 2 validation providers at the same time on the same commands ?
My guess is that the resolver doesn't know what to do and crashes because I believe you cannot have multiple interfaces having different implementations with aspnetcore DI, am I right ?

[2019-11-21 08:54] lucabriguglia commented on #90
@kwentinn excellent! Regarding your new question, it is potentially possible to resolve at runtime multiple implementations of the same interface (like event handlers) but what's the reason for having multiple providers?

[2019-11-21 09:33] quentin-villevieille commented on #90
Well, let's say I'd like to check the command's parameters first (with the FluentValidationProvider), and then enforce a business rule with a policy like a user e-mail address must be unique (with the PolicyValidationProvider).

I might as well use FluentValidation inside my Policy class. But what I'd like to do is really separate the field or value validation and the business rules which can't be

[2019-11-21 09:35] lucabriguglia commented on #92
I have implemented it quite easily. You can see the progress in this branch: https://github.com/lucabriguglia/Kledex/tree/issue-92-composite-commands

There is also a sample console app to run: **Kledex.Sample.CommandSequence**.

[2019-11-21 09:35] quentin-villevieille commented on #93
Yeah, I guess that would create too much coupling between commands & events.

[2019-11-21 09:35] #93 closed

[2019-11-21 09:40] lucabriguglia commented on #90
I get your point, but you can do it with FluentValidation as I did here: https://github.com/lucabriguglia/Weapsy/blob/vnext/src/Weapsy.Domain.Validators/Sites/CreateSiteValidator.cs

But, this is an interesting concept. Let's say I don't want my aggregate to be polluted with a lot of business logic, I could have one validator for the command and another one for the aggregate itself to check the in

[2019-11-21 09:57] lucabriguglia commented on #92
This is how to use the new feature:

[code]

Each command passes its response to the next one in the sequence.

And this is how to get a final result from the last command handler:

[code]

[2019-11-21 09:58] quentin-villevieille commented on #92
Nice ! I've just tried it, it works great.
But I'm wondering if the controller has to know about the command sequence. I believe the sequence definition must be in the domain layer, and the controller would just call it from the domain.

[2019-11-21 10:01] lucabriguglia commented on #92
Good point, should we create a separate class that holds the sequence?

[2019-11-21 10:17] quentin-villevieille commented on #92
Yeah, I think so. We could name it `SequenceCommand `or somethinkg like that :)

[2019-11-21 11:21] lucabriguglia commented on #92
Now we have:

[code]

And:

[code]

Or:

[code]

[2019-11-21 11:24] quentin-villevieille commented on #92
That's spot on, thanks mate !

[2019-11-22 03:48] baoduy commented on #91
As I saw currently, Kledex is only support a single DbContext. This consider is single BoundedContext Shall I raise a request for to support Multi BoundedContext concept?

[2019-11-22 07:23] lucabriguglia commented on #91
Yes @baoduy

[2019-11-22 11:28] quentin-villevieille opened #94 "Events saved twice in event store"
Hi,

I've noticed that sometimes the events get saved twice in the event store, have you ever experienced this bug ?

[2019-11-22 12:35] lucabriguglia commented on #94
No, never. Are you able to reproduce it?

[2019-11-22 12:36] lucabriguglia commented on #94
What store provider?

[2019-11-22 13:07] quentin-villevieille commented on #94
With mongo db store provider. It's weird. It's not always the case though. I'll try to show you an example where it does so

[2019-11-22 13:19] lucabriguglia commented on #94
Thanks @quentin-villevieille!

[2019-11-22 13:45] lucabriguglia commented on #94
Are aggregates and commands duplicated as well or just events?

[2019-11-22 14:48] quentin-villevieille commented on #94
Forget it ! I did something wrong in my code... I thought I needed to call specifically the `_repository.Save(aggregate)` at the end of the command handler, before returning the events, but I don't, right ?

[2019-11-22 14:48] #94 closed

[2019-11-22 19:50] lucabriguglia commented on #94
Ah okay! No you don't need to, it's all done by the framework 😁

[2019-11-23 09:26] lucabriguglia commented on #92
Released in version 2.3

[2019-11-23 09:26] #92 closed

[2019-11-24 09:51] lucabriguglia opened #95 "Custom providers templates"
Add project templates for custom providers:
- Store
- Bus
- Validation
- Caching

[2019-11-24 09:55] lucabriguglia opened #96 "Application templates"
Templates for applications that follow the Kledex patterns.

[2019-11-26 11:27] lucabriguglia commented on #96
I have decided to create a separate repository instead of having templates inside the Kledex repository: [CQRS Starter Kit](https://github.com/lucabriguglia/CQRS-Starter-Kit).

[2019-11-27 11:58] abomadi commented on #96
@lucabriguglia amazing project mate, it really helps  instead of writing it from the scratch, would you show an example for RabbitMQ  inside DDD-CQRS-ES Starter Kit as well?

[2019-11-27 12:44] lucabriguglia commented on #96
Thanks @abomadi and yes I can add an example for RabbitMQ. The first version will be very basic but I'm going to add more stuff over time.

[2019-11-27 13:13] abomadi commented on #96
@lucabriguglia Amazing, i just wanted to see how rmq is consuming events as i was looking at it's provider but couldn't find any subscribe / consume methods over there

[2019-11-27 13:17] lucabriguglia commented on #96
It's pretty standard, this is a tutorial for queues: https://www.rabbitmq.com/tutorials/tutorial-two-dotnet.html

[2019-11-28 10:33] lucabriguglia commented on #96
First version of the starter kit released and available [here](https://github.com/lucabriguglia/DDD-CQRS-ES-Starter-Kit).

[2019-11-28 10:33] #96 closed

[2019-11-28 17:03] kwentinn commented on #96
Amazing work, mate! 👍👏

[2019-11-28 17:13] lucabriguglia commented on #96
Thanks @kwentinn! As always suggestions and feature requests are more than welcome :-)

[2019-11-29 15:47] xaviersolau commented on #56
Hello,
Is there any news about this issue?
Regards.

[2019-11-29 23:35] lucabriguglia commented on #56
I'll work on it in the next few days.

[2019-12-02 09:34] xaviersolau opened #97 "[Question] Is there any plan to use Microsoft.Azure.Cosmos ?"
Do you plan to add cosmos support with Microsoft.Azure.Cosmos (Azure Cosmos DB version 3) ?

Do you think we could get any benefit from this new API?

[2019-12-02 14:22] lucabriguglia commented on #97
Yes, I was planning to update it in one of the next releases.
I think going forward is the natural choice.

[2019-12-03 08:00] kwentinn commented on #90
I guess we can close this issue now as it was more a discussion than a real issue. And your solution is quite elegant, so it's fine by me.

[2019-12-03 08:00] #90 closed

[2019-12-03 13:00] lucabriguglia commented on #56
Sorry, wrong branch name. That commit is obviously meant for a different feature.

[2019-12-04 10:16] lucabriguglia commented on #56
So, I'm adding the RequestOptions directly to the DomainDbOptions:

[code]

Can be set in startup.cs:

[code]

And will be used directly in the base document repository when creating a document:

[code]

[2019-12-04 10:40] lucabriguglia commented on #56
This is the general idea, now we have manage the different scenarios: collections, database, queries, etc...

[2019-12-10 11:04] lucabriguglia commented on #56
I have tried different options and at the end they get messy because there are too many combinations. I think the best way to approach this is to add the 3 suggested properties to the config class (PartitionKey, ConsistencyLevel and OfferThroughput) and if further customisation is needed I would say it's better to override the default implementation.

[2019-12-11 12:47] lucabriguglia opened #98 "Custom handler or service"
I'm adding the option to use a custom handler or service instead of the default command handler that needs to implement the default command handler interface:

[code]

[2019-12-12 07:58] PiekJ opened #99 "Kledex adds "everything" to the ServiceCollection twice, or more."
Hello,

I'm currently doing some tests with Kledex. I have a project containing two aggregates and both are added to the `AddKledex` method as followed:
[code]
The problem that now occurs is that all the services are added twice, causing undefined and unwanted behavior. For example the event handlers are executed twice, instead of single time.

Personally I'd like to see a way to add all my servic

[2019-12-12 09:58] lucabriguglia commented on #99
Hi @PiekJ, are BankAccountAggregate and TransactionAggregate in the same project?
If they are, it's the reason why everything is registered twice.
You need to pass one type per project and not every aggregate.

[2019-12-16 16:19] xaviersolau commented on #56
well, I did kind of override on my side.... but I am not rally happy with this because this is not maintenance friendly in my opinion...

[2019-12-16 16:26] xaviersolau opened #100 "[Question] About CommandSequence exception handling"
I am wandering what append if an error occurs in one of the command while processing a CommandSequence ?

I did run some tests on my side and I noticed that I have part of the events stored in my db even if my command sequence is not fully executed. Is this behavior expected ?
Since the sequence is not successful, shouldn't we prevent events to be stored ?

[2019-12-16 16:41] lucabriguglia commented on #100
We should and the way I'd like to handle it is by using an ambient transaction but unfortunately this can't be done at the moment because distributed transactions are not currently supported in .NET Core.

[2019-12-16 16:44] lucabriguglia commented on #56
What would be your preferred approach?

[2019-12-18 10:51] xaviersolau commented on #56
I will try to post a PR for that...

[2019-12-19 03:36] etiennecl commented on #80
Is this supported with the CommandSequence pattern implemented in version 2.3?

[2019-12-19 09:01] lucabriguglia commented on #80
Let's say that the CommandSequence could be considered as the saga manager in a orchestration based saga.

[2019-12-19 10:53] lucabriguglia commented on #99
Assuming this has been resolved.

[2019-12-19 10:53] #99 closed

[2019-12-21 10:01] lucabriguglia commented on #56
You can follow the progress on this branch: https://github.com/lucabriguglia/Kledex/tree/cosmos-db-options.

[2019-12-21 10:03] lucabriguglia commented on #56
For the first iteration I have added the two options for `OfferThroughput` and `ConsistencyLevel` and default the `PartitionKey` to '/type'

[2019-12-22 08:59] lucabriguglia commented on #98
Released in v2.4.

[2019-12-22 08:59] #98 closed

[2019-12-22 09:00] lucabriguglia commented on #56
Released in v2.4.

[2019-12-22 09:00] #56 closed

[2019-12-22 12:05] lucabriguglia commented on #100
In the mean time we could implement a mechanism to trigger compensation steps in case of errors. In order to achieve this we should also add more functionalities to the store providers such as deleting rows which are not currently supported.

[2019-12-25 18:23] lucabriguglia commented on #91
Closing this for the time being, a new issue or pull request should be raised.

[2019-12-25 18:23] #91 closed

[2019-12-28 09:11] lucabriguglia commented on #97
Microsoft.Azure.Cosmos will be introduced with the new Entity Framework Cosmos provider (#30).

[2019-12-28 09:11] #97 closed

[2020-01-04 11:06] lucabriguglia opened #101 "Saga Pattern"
I'm going to refactor the command sequence pattern into a proper saga pattern with support for compensation actions. Compensation actions will also work with the standard command pattern and triggered in case any of the published events fails.

[2020-01-04 11:06] lucabriguglia commented on #100
Refer to #101

[2020-01-04 11:06] #100 closed

[2020-01-04 11:08] lucabriguglia commented on #80
Refer to #101

[2020-01-04 11:08] lucabriguglia commented on #92
Refer to #101 for new functionalities

[2020-01-08 07:20] xiongdashan opened #102 "InvalidOperationException: Unable to resolve service for type"
.net core 3.1 mvc api

add Kledex in startup.cs
[code]
exception:
`
InvalidOperationException: Unable to resolve service for type 'Microsoft.AspNetCore.Builder.IApplicationBuilder' while attempting to activate 'Kledex.Extensions.KledexAppBuilder'.`

[2020-01-08 07:52] lucabriguglia commented on #102
I'll try to reproduce it

[2020-01-08 12:09] lucabriguglia commented on #102
It works if you change Program.cs from:

[code]

to:

[code]

It looks like the `IWebHostBuilder` doesn't register the `IApplicationBuilder`

[2020-01-09 00:40] xiongdashan commented on #102
Okay.
So this framework can't use in .net framework 4.8?

[2020-01-09 11:13] lucabriguglia commented on #102
Kledex is based on .NET Standard 2.1 which is not currently supported in .NET Framework 4.8.
Please check the compatibility for .NET Standard here: https://docs.microsoft.com/en-us/dotnet/standard/net-standard.

[2020-01-10 02:23] xiongdashan commented on #102
How can i use Autofac directly, without ServiceCollection;

Like
[code]

to

[code]

[2020-01-10 05:02] xiongdashan commented on #102
[code]

[2020-01-10 09:23] lucabriguglia commented on #102
You should be able to do something like this:

[code]

[2020-01-10 09:26] xiongdashan commented on #102
Yes, I using builder.Populate...
But my project is Mvc  Web Api using .net framewrok 4.8.

[2020-01-10 09:42] lucabriguglia commented on #102
As I have already mentioned ..NET Standard 2.1 is not supported yet in .NET Framework 4.8.

[2020-01-10 09:44] xiongdashan commented on #102
Okay, thanks for your replay。

[2020-01-10 15:03] lucabriguglia commented on #102
Closing as it is established that it's a compatibility issue.

[2020-01-10 15:03] #102 closed

[2020-01-11 11:31] kwentinn commented on #101
nice ! :)

[2020-01-13 10:46] Gianmarcogh opened #103 "Approximate Date for Snapshot support?"
Hello sir, I'm currently using your library but It seems that still doesn't support Snapshot. When will you release it?

Kind regards.

[2020-01-13 10:57] lucabriguglia commented on #103
Hi there, no timeline at the moment as when I can I work on the saga pattern feature.
I'll try to squeeze it in the next release if possible!

[2020-01-20 22:30] etiennecl opened #104 "Support for tenant store"
I know the purpose of this library is to support DDD, CQRS and event sourcing. I was wondering where it would make more sense to extend this library in order to add Tenant Support has the StoreProvider is already inside the Base project and the EF projects already implement the StoreProvider interface.

My first guess would be to add a TenantId to my Aggregates, entities, commands, and events, but

[2020-01-21 07:41] lucabriguglia commented on #104
Interesting concept, there is the Source property that can be set in the Command but it is saved in the store only for commands and events. Yhe tenant could be set in the aggregate.

[2020-01-21 14:03] etiennecl opened #105 "Support for custom discriminator in EF Stores"
It would be very useful if the EF Store could use a custom discriminator for the Type column. The reason why is because right now it uses the assembly qualifier name although during the lifetime of a codebase it can happen that we reorganize the folder structure/namespace, therefore, the Factory will throw because it will not be able to create a new instance of an unknown type.

Something like [Js

[2020-01-21 14:11] lucabriguglia commented on #105
I agree with you, this is a feature that we should add.

[2020-02-05 17:30] xaviersolau opened #106 "[Question] How can I setup the cosmos db context to use containers with shared throughtput option"
Hello,
I am playing with the new Kledex.Store.EF.Cosmos but I have a question:
How can I setup the cosmos db context to create/use containers with shared throughtput option?

[2020-02-06 15:55] xaviersolau commented on #106
Well actually I fund a solution for that...
I am just creating the database explicitly in the app startup like this:
cosmosClient.CreateDatabaseIfNotExistsAsync(settings.DatabaseId, throughput:400);
The aggregate, event and command containers will be created automatically using the shared throughput.

[2020-02-06 16:03] lucabriguglia commented on #106
Hi @xaviersolau sorry for the delay! Yes that's a good way of doing but it should be managed within the framework and I hope to add some configuration options for this in the near future :-)

[2020-02-07 10:42] xaviersolau opened #107 "How can I setup an ExecutionStrategy with Cosmos EF"
I am working with Kledex.Store.EF.Cosmos and I would like to use/setup an ExecutionStrategy like the CosmosExecutionStrategy or a custom one. Unfortunately, this is not easy in the current 2.5 API version.

Do you have any recommendation about that?

[2020-02-07 15:57] xaviersolau opened #108 "[Question] Is it possible to customize partition key on cosmos store?"
I would like to use other properties as partition key for cosmos store but it looks like it is hard coded in `CosmosDomainDbContext` :

[code]

Any idea ?
By the way why did you chose the `Type` as partition key? Why not the AggregateId for example?

[2020-02-18 04:48] vany0114 opened #109 "Microservices example"
Hi @lucabriguglia

I just updated the project I made a couple of years ago when your project was named `Weapsy.CQRS`. Now I'm using the latest version of `Kledex` and `.Net Core 3.1`.

I let you the links in case you wanna include them in the documentation:
* http://elvanydev.com/Microservices-part3/
* https://github.com/vany0114/microservices-dotnetcore-docker-servicefabric

Thanks for keeping su

[2020-02-18 09:14] lucabriguglia commented on #109
Thanks @vany0114, your project looks great!

[2020-02-19 13:38] quentin-villevieille opened #110 "Kledex 2.5.1 - Event handlers get called twice"
Hi,
I'm using Kledex 2.5.1 with a .net core 3.1 app. I use the event sourcing & cqrs features.

Everything is working fine except one thing : **the event handlers are called twice**.
So far, I had only one event handler, so I thought I would create another event handler to check whether the behaviour was the same or not. Both event handlers are called twice - they are called at the same time.

Hav

[2020-02-19 13:59] quentin-villevieille commented on #110
Drop it, it was in the `Startup.cs` inside the AddKledex config method.
And someone already had this 'issue'... so, my bad !

[2020-02-19 13:59] #110 closed

[2020-02-19 14:21] lucabriguglia commented on #110
No problem :-)

[2020-03-03 13:38] xiongdashan opened #111 "About load Events"
I have a question:
In "AggregateRoot.cs", the value is assigned to it by looping through all events. If there are a lot of Events,will it cause performance issues?

Load all events

https://github.com/lucabriguglia/Kledex/blob/467c4a4af12d733173a8b1751dff3001618a3e9d/src/Kledex.Store.EF/StoreProvider.cs#L54

[code]

Foreach all events  and assgin value:

https://github.com/lucabriguglia/Kledex/blo

[2020-03-03 14:19] lucabriguglia commented on #111
Potentially yes if there are a lot of events, and I mean a lot. One way to mitigate the potential issue is to create snapshots and retrieve only events from a certain point in time. I have already created an issue to address this and I hope to have the time to implement the feature at some point.

[2020-03-03 14:24] lucabriguglia commented on #108
You are right, the AggregateId would have been the right choice. Unfortunately it's not possible at the moment but in the mean time you can create a custom provider to address that.

[2020-03-03 14:35] xiongdashan commented on #111
Thanks for your answer, could load aggregateroot after the event, update the changed data and save it again, and then load only the most recent update in the loadhistory method?
That is, the first entry in the event table is the complete latest data. It only needs to take top 1 each time.

[2020-03-03 14:43] lucabriguglia commented on #111
Yes, it could be possible by saving a snapshot of the whole aggregate for each event.

[2020-03-03 14:45] xiongdashan commented on #111
Create a new table or use the current event table?  Which is right?

[2020-03-03 14:51] lucabriguglia commented on #111
Same table or container, just an extra property for the event (e.g. Snapshot)

[2020-05-13 15:56] quentin-villevieille opened #112 "Decorate an event handler"
Hi guys,

I'm trying to decorate a class that implements `IEventHandlerAsync<T>`.
I'm using AutoFac as my DI framework.
As far as I understand, Kledex registers all the classes that implements this interface `IEventHandlerAsync` even the decorator, so it ends up creating a circular reference...

Any idea ?

Thanks !

[2020-05-13 18:24] lucabriguglia commented on #112
HI @quentin-villevieille, yes all implementations are registered automatically if you pass the types when registering the library:
[code]
where `Product` is a type in the library that you want to auto register all the implementations from.
You can try to register Kledex without passing any types:
[code]
and then register your implementations manually:
[code]

[2020-05-14 15:27] quentin-villevieille commented on #112
cool, I'll try that, thanks!

[2020-05-14 15:27] #112 closed

[2020-05-14 15:35] lucabriguglia commented on #112
Also, remember that for your commands you can pass your own method without the need of implementing a ICommandHandlerAsync<T> interface. More info [here](https://lucabriguglia.github.io/Kledex/Commands).

[2020-05-27 16:38] Vikaskumargd commented on #102
Do we have a permanent fix for this ?
not below one :
[code]

[2020-05-28 08:07] lucabriguglia commented on #102
I don't think so, sorry.

[2020-12-03 05:01] etiennecl commented on #101
Is this still under consideration?

[2020-12-03 08:07] lucabriguglia commented on #101
It is but I need first to migrate to .NET5 and see what's possible in terms of distributed transactions in order to decide what is the best way to handle this.

[2020-12-04 14:32] etiennecl commented on #101
Great! Is there anything I could do to help?

[2020-12-04 15:23] lucabriguglia commented on #101
If you could migrate the project to .NET 5 and update the version to 3.0-preview it would be great :-)

[2020-12-11 19:58] etiennecl opened #113 "Bulk capabilities"
Hi,

We are currently facing an issue where we are using cqrs with event-sourcing inside our application & we now need a way to bulk a bunch of commands in order to accept a high volume of data modifications. I was wondering what would be the best way to optimize performance as at the moment a single command would potentially make x number of SQL transactions. Making it an exponential behavior is

[2020-12-15 10:57] lucabriguglia commented on #113
Well, let's start with what you have done in https://github.com/clinia/cqrs:

- Copy/paste of this project
- All namespaces changed
- No notice of changes of this original work
- Not a single reference to Kledex.
- License removed

Naughty naughty

[2020-12-16 13:05] etiennecl commented on #113
Hi @lucabriguglia ,

I apologize for any inconvenience this could have caused, it is indeed not the right way of supporting open source community. I want to make this right has it is not what I'm up for. To try and go into this direction and I will for starter

- Delete the repository
- Create a fork from this one
- Leave all references to Kledex

I hope this could make things right, as the initia

[2020-12-16 13:09] lucabriguglia commented on #113
@etiennecl we all makes mistakes and it's important to makes things right.
Thanks for the understanding.

[2020-12-16 13:44] xaviersolau opened #114 "[Question] What is the process to contribute?"
Hello,

I am planning to add support for .Net 5 in my projects some time soon and I am considering to make a PR to your project with the .Net5 support.
Do you have recommendation about the way or the process to contribute to your project?

Regards,

[2020-12-16 13:47] xaviersolau commented on #114
Do you have any plane about adding new features to Kledex?

[2020-12-16 15:46] lucabriguglia commented on #114
Hi!

First of all, yes I'm planning to add more features to Kledex and I'm going to start from January.
This year I've been very busy with work and Master's Degree but I'm going to submit my dissertation by the end of the year!

Your question reminded me that I need to add a proper contribution guidelines, thanks for that.

First thing I'll do with the new year is to migrate to .NET5 and update th

[2020-12-16 17:47] xaviersolau commented on #114
Ok thanks for that!

I'am looking forward! 👍

[2020-12-16 17:47] #114 closed

[2021-08-12 14:55] Hobbs1210 commented on #101
any update on saga implementation ?

[2021-08-13 09:16] lucabriguglia commented on #101
Unfortunately I do not think I will be able to implement this feature any time soon. As an alternative please have a look at this project https://github.com/mizrael/OpenSleigh

[2021-08-13 15:24] Hobbs1210 commented on #101
Thank you for the reference project

[2022-04-05 10:17] NathalieSpierings opened #116 "Following wiki, always getting 'Some services are not able to be constructed"
I have created a .NET Core 6.0 Webapplication and installed the following packages:

* OpenCqrs (6.5.0)
* OpenCqrs.Caching.Memory (6.5.0)
* OpenCqrs.Store.EF (6.5.0)
* OpenCqrs.Store.EF.SqlServer (6.5.0)
* OpenCqrs.UI (6.5.0)
* OpenCqrs.Validation.FluentValidation(6.5.0)

I have followed the wiki **Configuration** as followed:

In my .net core 6 web project in de Program.cs i have the following co

[2022-04-05 11:16] lucabriguglia commented on #116
Hi @NathalieSpierings, I'll try to reproduce it.

[2022-04-05 11:26] lucabriguglia commented on #116
Okay, the reason is explained [here](https://stackoverflow.com/questions/61762937/asp-net-core-in-a-worker-service-doesnt-call-configure-iapplicationbuilder).

For the time being it's possible to use OpenCQRS in .NET 6 by using the old pattern with Startup.cs.

[2022-04-05 12:07] NathalieSpierings commented on #116
Yes this solution ideed worked for me.
Thank you

[2022-04-05 12:07] #116 closed

[2022-04-05 12:09] lucabriguglia commented on #116
Glad it worked!